<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whcm.report.mapper.FeedbackMapper">
    
    <resultMap type="Feedback" id="FeedbackResult">
        <result property="feedbackId"    column="feedback_id"    />
        <result property="feedbackMain"    column="feedback_main"    />
    </resultMap>
	
	<sql id="selectFeedbackVo">
        select feedback_id, feedback_main from report_feedback
    </sql>
	
    <select id="selectFeedbackList" parameterType="Feedback" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        <where>  
            <if test="feedbackId != null "> and feedback_id = #{feedbackId}</if>
             <if test="feedbackMain != null  and feedbackMain != '' "> and feedback_main = #{feedbackMain}</if>
         </where>
    </select>
    
    <select id="selectFeedbackById" parameterType="Integer" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        where feedback_id = #{feedbackId}
    </select>
        
    <insert id="insertFeedback" parameterType="Feedback">
        insert into report_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="feedbackId != null  ">feedback_id,</if>
			<if test="feedbackMain != null  and feedbackMain != ''  ">feedback_main,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="feedbackId != null  ">#{feedbackId},</if>
			<if test="feedbackMain != null  and feedbackMain != ''  ">#{feedbackMain},</if>
         </trim>
    </insert>
	 
    <update id="updateFeedback" parameterType="Feedback">
        update report_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedbackMain != null  and feedbackMain != ''  ">feedback_main = #{feedbackMain},</if>
        </trim>
        where feedback_id = #{feedbackId}
    </update>

	<delete id="deleteFeedbackById" parameterType="Integer">
        delete from report_feedback where feedback_id = #{feedbackId}
    </delete>
	
    <delete id="deleteFeedbackByIds" parameterType="String">
        delete from report_feedback where feedback_id in 
        <foreach item="feedbackId" collection="array" open="(" separator="," close=")">
            #{feedbackId}
        </foreach>
    </delete>
    
</mapper>